.header{
    background-color: #fff;
}

.heading{
    margin: 0;
    font-size: min(8vw + 1rem, 6rem); 
    line-height: 1;
}

.logo{
    font-family: var(--logo-font);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.2em;
}

.logoLink{
    color: #000;
    text-decoration: none;
}

.imgWrap{
    width: 1.5em;
    position: absolute;
    transform: rotate(35deg);
    left: 96%;
    top: 30%;
}

.letterSpaceFix{
    display: inline-block;
    margin-right: -0.1em;
}

.body{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-top: 1px solid var(--light-color);
    border-bottom: 1px solid var(--light-color);
}

.socialItem{
    width: min(5vw, 30px);
    height: min(5vw, 30px);
    margin-left: .3rem;
    margin-top: .3rem;
}

.socialItem:hover{
    opacity: .7;
}

.socialMenu{
    display: flex;
    align-items: flex-end;
    margin-left: 2rem;
}

@media screen and (max-width: 500px){
    .body{
        flex-direction: column;
    }
    .socialMenu{
        align-self: flex-end;
    }
}