.wrap{
    background-color: #fff;
    padding: var(--card-padding);
}

.card{
    background-color: #C3C2C2;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.title{
    margin: 0;
    color: #fff;
    padding: 1rem 1rem;
    height: 50%;
    overflow: hidden;
    line-height: 1.2;
    background-color: rgba(0, 0, 0, .4);
}

.category{
    color: #fff;
    padding: 1rem 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
}
