.navigation{
    padding: .5rem 0;
    justify-content: space-between;
}

.fixed{
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 1000;
    width: 100vw;
}

.littleLogo{
    font-family: var(--logo-font);
    font-weight: 900;
}

.letterSpaceFix{
    display: inline-block;
    margin-right: -0.1em;
}


.sandwichButton,
.sandwichButton::after,
.sandwichButton::before{
    display: block;
    align-self: center;
    width: max(5vw, 20px);
    height: 3px;
    border-radius: 10px;
    background-color: #000;
    position: relative;
}

.sandwichButton::after,
.sandwichButton::before{
    position: absolute;
    content: '';
}

.sandwichButton::after{
    top: .5rem;
}
.sandwichButton::before{
    top: -.5rem;
}

.sandwichWrap{
    display: none;
}

.navMenuMobile{
    display: none;
}

@media screen and (max-width: 740px){
    .sandwichWrap{
        display: flex;
    }
    .navMenu{
        display: none;
    }

    .navMenuMobile{
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s ease-in;
    }

    .navMenuMobile.open{
        max-height: 100vh;
    }

    .navMenuMobile ul{
        flex-direction: column;
        align-items: center;
    }

    .navItemMobile{
        display: block;
        text-decoration: none;
        font-family: Roboto, sans-serif;
        font-weight: 300;
        padding: .5em 0;
        text-transform: uppercase;
        text-align: center;
    } 

    .navItemMobile:hover,
    .navItemMobile:focus{
        text-decoration: underline;
    }

    .navItemMobile + .navItemMobile{
        border-top: 1px solid rgba(187, 187, 187, .7);
    }
}