.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
}

.inlineBlock{
    display: inline-block;
}

.relative{
    position: relative;
}

.headingLg{
    font-size: 6rem;
    margin: 0;
    line-height: 1.4;
}

.navMenu{

}

.navItem{
    display: block;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    padding: .2em 0;
    text-transform: uppercase;
}

.textDark{
    color: black;
}

.textWhite{
    color: white;
}

.textSm{
    font-size: max(.7vw, .8rem)
}

.textMd{
    font-size: max(.85vw, 1rem);
}

.textLg{
    font-size: max(1.5vw, 1.5rem);
}

.textExtraLg{
    font-size: max(3vw, 3rem);
}

.textNormal{
    font-weight: 400;
}
.textUpper{
    text-transform: uppercase;
}
.textThin{
    font-weight: 300;
}

.textBold{
    font-weight: 700;
}

.textBlack{
    font-weight: 900;
}

.navItem:hover,
.navItem:focus{
    text-decoration: underline;
}

.navItem + .navItem::before{
    content: '';
    border-left: 1.5px solid rgba(187, 187, 187, .7);
    margin: 0 .9em;
}

.dFlex{
    display: flex;
}

.dWrap{
    flex-wrap: wrap;
}

.dBlock{
    display: block;
}
.dNone{
    display: none;
}

.flexEnd{
    justify-content: flex-end;
}

.pointer{
    cursor: pointer;
}

.customScroll::-webkit-scrollbar {
    width: 2px;
}
 
.customScroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
 
.customScroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(63, 63, 63);
  outline: 1px solid red;
}

.heightAuto{
    height: auto !important;
}

@media screen and (max-width: 550px){
    .navItem{
        text-align: center;
        padding: .5rem;
    }
    .navItem + .navItem::before{
        border: none;
        margin: 0;
    }
}